body{
	text-align: center;
}

h1, h2, h3, a, p{
	font-family: Helvetica;
}

.header{
	height: 297px;
	background:url("the-flatiron-building.png");
	color: white;
}

.band {
	background:url("the-flatiron-building.png");
	color: white;
}

h1{
	position: relative;
	margin: 0;
	font-size: 70px;
	font-weight: bold;
	color: white
	line-height: 80px;
}

h2 {
	font-size: 32px;
	font-weight: bold;
	line-height: 50px;
	padding: 0;
	margin:20px 0 0 0;
}

h3 {
	font-size: 23px;
	font-weight: bold;
	line-height: 35px;
	padding:0;
	margin: 20px 0 0 0;
}

p {
	font-size: 14px;
}

.image {
	padding:0;
	margin: 35px 0 0 0;
}

.text {
	padding: 0;
	line-height: 20px;
	margin: 5px 0 20px 0;
}
.header a {
	color: white;
	font-size: 18px;
	display: block;
	padding: 8px;
}

footer{
	text-align: left;
	font-size: 11px;
	color: white;
	background-color: dimgray;
}

footer a {
	color: white;
	padding: 0 3px 0 3px;
	font-size: 18px;
}
